body {
margin: 20px;
    color: white;
    background-color: black;
    text-align-last: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
button {
padding: 10px;
width: 100%;
font-size: 2em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    -moz-border-radius: 20px;
 
    -webkit-border-radius: 20px;
 
    -khtml-border-radius: 20px;
 
    border-radius: 20px; text-shadow: 0 1px 1px #000000;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;
    -moz-border-radius: 20px;
 
    -webkit-border-radius: 20px;
 
    -khtml-border-radius: 20px;
 
    border-radius: 20px;
}
p {
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
h1 {
    font-size: 50px;    
    font-family: "Comic Sans MS", cursive, sans-serif;
}